* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #191919;
    color: #fff;
    font-family: sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.webp);
    background-position: center;
    background-size: cover;
}

.mobile-nav {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #1313135e;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: .3s;
}

.nav ul li a:hover {
    color: rgb(189, 189, 189);
}







#logo {
    color: #fff;
    width: 30%;
    height: 30%;
    letter-spacing: 1px;
    margin-top: -25px;
    cursor: pointer;
}


.introduction {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translateY(-40%);
}

.introduction h1 {
    margin: 20px 0 20px;
    font-size: 75px;
    background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 20s linear infinite;
    text-rendering: auto;
}

.introduction h3 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 35px;
    font-family: monospace;
    text-shadow: 4px 4px 5px black;
}

.introduction h4 {
    color: rgb(218, 218, 218);
    letter-spacing: 2px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 5px black;
}

.btn-learn-div {
    display: inline-table;
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translateY(-40%);
}

.btn-learn {
    background-color: #1f1f1f;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 300px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 100px 30px black;
    position: absolute;
    left: 20%;
    top: 250%;
    transform: translateY(-250%);
    transition: .2s all;
    overflow: hidden;
    cursor: pointer;
}

.btn-learn:hover {
    background-color: #141414;
}


#about {
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}

#about img {
    width: 430px;
    height: auto;
}

.about-content {
    max-width: 95%;
    width: 1130px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.about-text {
    width: 550px;
    text-shadow: 5px 5px 5px black;
}

.about-text p {
    color: rgb(216, 216, 216);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about-text h2 {
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

#materials {
    width: 100%;
    padding: 100px 0;
    background-color: #171717;
}

.materials-title h2 {
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    text-shadow: 0px 0px 10px gray;
}

.materials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}


.materials-box {
    max-width: 70%;
    height: 300px;
    overflow-x: auto;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.15);
}

.materials-box img {
    width: 250px;
    height: 250px;
    aspect-ratio: 3/2;
    object-fit: contain;
    flex-shrink: 0;
}



footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials {
    display: flex;
}

#socials a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-color: white;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: .3s; 
}

#socials a:hover {
    transform: scale(1.3); 
}


footer p {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer img {
    width: 35px;
    height: auto;
}

#license {
    color: rgb(163, 163, 163);
    position: absolute;
    bottom: 35px;
    font-size: 14px;
}



/* Animations */
@keyframes rainbow-animation {
    to {
      background-position: 1000vh;
    }
}

@media screen and (max-width: 700px) {
    .nav {
        display: none;
    }


    .mobile-nav {
        display: block;
        overflow: hidden;
        background-color: #1313133f;
        position: relative;
    }

    .mobile-nav #links {
        display: none;
    }

    .mobile-nav a {
        color: white;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 16px;
        display: block;
    }

    .mobile-nav a.icon {
        background-color: #1313134f;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* Mobile friendly */
@media screen and (max-width: 1000px) {
    body {
        width: 100%;
        height: auto;
    }


    .introduction {
        position: relative;
        top: 30%;
        left: 8%;
        transform: translateY(-30%);
    }
    
    .introduction h1 {
        margin: 20px 0 20px;
        font-size: 40px;
    }
    
    .introduction h3 {
        color: #fff;
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    .introduction h4 {
        color: rgb(218, 218, 218);
        letter-spacing: 2px;
        font-size: 30px;
    }

    .btn-learn-div {
        display: inline-table;
        position: absolute;
        top: 80%;
        left: 25%;
        transform: translateY(-40%);
    }

    .btn-learn {
        width: 200px;
        height: 50px;
        font-size: 18px;
        box-shadow: 0px 0px 70px 22px black;
    }
    
    #about img {
        display: none;
    }

    .Darren-box {
        display: none;
    }
    
    .about-content {
        max-width: 95%;
        width: 1130px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
    }
    
    .about-text {
        width: 550px;
    }
    
    .about-text p {
        color: rgb(216, 216, 216);
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
    }
    
    .about-text h2 {
        color: #fff;
        font-size: 45px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    
    .about-text h5 {
        color: #fff;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }



    .materials-box {
        min-width: 250px;
        max-width: 750px;
        height: 300px;
        overflow-x: auto;
        display: flex;
        margin: 0 auto;
        position: relative;
        top: 50px;
    }

    .materials-title h2 {
        color: #fff;
        font-size: 35px;
        width: auto;
        margin: 30px auto;
        text-align: center;
    }

    .materials-box img {
        min-width: 250px;
        height: 250px;
        aspect-ratio: 3/2;
        object-fit: contain;
        flex-shrink: 0;
        image-rendering: auto;
    }

    footer p {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    footer img {
        width: 35px;
        height: auto;
    }




    nav ul li a:hover {
        color: #fff;
    }
    #socials a:hover {
        color: #fff;
    }

    #socials a:hover {
        transform: scale(1.3);
        transition: .3s;
    }

}