* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #191919;
    color: #fff;
    font-family: sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(https://lh3.googleusercontent.com/fife/AAbDypBXKSiFkZOQ28E967Db_Y6XiDgtjcMFyDdIRZ7BORvJIZoZsb3J6C8TQJVTdEculV5Qqry9nVIrJdIoalhJpoSZTUZfSjJxKnW4kQ0P42ue_hyWJ0qT51BXV6ZsHMRCIvNGeGh8GKeQz0HCENBynTbsve6sNrBiNfqHNoFqM5czLzxne4mYxnVdrWiWv6BCHMkxsvPq11gT-9N3tT8rls_LAQKHn83PXpdcOqKuMriJh6Wb39DI-xiHBt0vXYaQmX8t0DobtNqcTd3kO4eAe5M-4loEMWQurDdRAfkuXpWKrhG72iGun-RTwjZZjP6YPDAzdGZIGsxfy0B6cotHXO_8AGdnDEnI4NYgM3GUKGZLmMEE_qexnt_lVezOnp7-jzUpnOI8ok3EOP1bJ3JV_XRKN0nL9Osc89GiwlcxYXabN6wpCurty1JuY0XRFILD1XuJJB3M05s3O0zA-QgfLJie4Z5VuuQebUitacMnqNPLtWzaaC_vRoMFMHVdp8Jby9bVKxqCy_9EkwXyQ7E6wuLYI9Xcm6qje3X-G-vWmC1UH7upTsiqeExb9Ei2Tzrch-7f_8QH8J2bt4TBwL7cr6fQjd984Br4SlXmkIOW096ncTHCqjWQOxJcrAYJeQ8nzQdLGJlNASrv94UWMQJSaIa3JNd0CIuZucqoFQtC-h6yMurFeQxrxLS8mQRN3pklkIUZR4mkLSqoBbGVjS62A-MUwQ_2x6as8g68wTr4oWyxVqnOZ1GHef60SH_B-va-KD_qlABmsU1ZpkfqiH9Q4Jrm7lZCfUYg_jEVOgU2r0XWvVWZG8WAZXn6pdFEO73FmKJlYkiDHo8GwnhZRn8mOB6VQpfO2BSlB1w2TipMcOAnw6bmuGtpgmnxm0h0Tygx_aWvh0TKpL_lD4kxn9z6Zsec5Sl7XfQP_60gu6_Z8AvGbCvfPb3sd7WfVAdQjsrRkPZP3kC7OiOMx74oMgq4C9nlbz7n7I-e-x88267Kz174JXmbXAm743wlyczfz5QYyzt6Iv_N-Uhzd1ZqmLoPfi-WW2b8BzJmuNIF-yuP9eRDGUWwijr0GezKP1Vp3n-DOtVzZzrOnIiYk5-jfhYzCrKRcKcdUvMYzRRv0PjtCsRvTmPG6jhn2Wo9MKVeTyi0jY60Xrfw7ZaVgkSv05JC83_9ZKLMif-bafsYU_cO0L61-XUEYfLVbqSWGpVBEubNHZFXf9zyT2vnXTRXeLFXwdRMOwgCWldY-39zchZwNC_q1V0KXd0BP6jp9VOjHhZPavfib5lEfXUJl_EffEPx-BPoH_iIr1izS41hJH1J3VJpFngRMwQ3qoJ7bKE1fV9aTegEFzvuZfMkAPDnmjtxcBCPsXYCQZX5gv7bDXgv2vlOcb6xgxL2W79X6bvP98u7wniyTGyLWAKpqAR2WXC1Xagjo1exEg9KMmbpQHnHXbdbHz8IMpRgj2GnKhH6mr7SmryJk1qbkP-mj0SVKnyAJaBAs8zlbdO1FuxOT7-LeT3v5NO4Myx2rsJMVtk=w1569-h1263);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: rgb(189, 189, 189);
    transition: .4s;
}

#logo {
    color: #fff;
    width: 30%;
    height: 30%;
    letter-spacing: 1px;
    cursor: pointer;
}

.introduction {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-40%);
}

.introduction h1 {
    margin: 20px 0 20px;
    font-size: 75px;
    background-image: 
    linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 20s linear infinite;
}

.introduction h3 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 35px;
}

.introduction h4 {
    color: rgb(218, 218, 218);
    letter-spacing: 2px;
    font-size: 40px;
}




#about {
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}

#about img {
    width: 430px;
    height: auto;
}

.about-content {
    max-width: 95%;
    width: 1130px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.about-text {
    width: 550px;
}

.about-text p {
    color: rgb(216, 216, 216);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about-text h2 {
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}



#materials {
    width: 100%;
    padding: 100px 0;
    background-color: #171717;
}

.materials-title h2 {
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.materials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}


.materials-box {
    width: 70%;
    height: 300px;
    overflow-x: auto;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.materials-box img {
    width: 350px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    flex-shrink: 0;
}





footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials {
    display: flex;
}

#socials a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: gray;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#socials a:hover {
    transform: scale(1.3);
    transition: .3s;
}

footer p {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

#license {
    color: rgb(163, 163, 163);
    position: absolute;
    bottom: 35px;
    font-size: 14px;
}



/* Animations */
@keyframes rainbow-animation {
    to {
      background-position: 1000vh;
    }
}


/* Mobile friendly */
@media screen and (max-width: 1000px) {
    body {
        width: 100%;
        height: auto;
    }



    .introduction {
        position: absolute;
        top: 40%;
        left: 8%;
        transform: translateY(-40%);
    }
    
    .introduction h1 {
        margin: 20px 0 20px;
        font-size: 53px;
        background-image: 
        linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
        animation: rainbow-animation 20s linear infinite;
    }
    
    .introduction h3 {
        color: #fff;
        margin-bottom: 50px;
        font-size: 25px;
    }
    
    .introduction h4 {
        color: rgb(218, 218, 218);
        letter-spacing: 2px;
        font-size: 30px;
    }


    
    #about img {
        display: none;
    }
    
    .about-content {
        max-width: 95%;
        width: 1130px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
    }
    
    .about-text {
        width: 550px;
    }
    
    .about-text p {
        color: rgb(216, 216, 216);
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
    }
    
    .about-text h2 {
        color: #fff;
        font-size: 75px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    
    .about-text h5 {
        color: #fff;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }




    .materials-title h2 {
        color: #fff;
        font-size: 40px;
        width: auto;
        margin: 30px auto;
        text-align: center;
    }

    .materials-box img {
        width: 250px;
        height: auto;
        aspect-ratio: 3/2;
        object-fit: contain;
        flex-shrink: 0;
    }
}